<!DOCTYPE html>
<html>
    <head>
        <title>Create Recipe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>
    <body>
        <header class="container">
            <hgroup>
                {% block header %}{% endblock %}
            </hgroup> 
        </header>
        <main class="container" id="content">
            {% block content %}{% endblock %}
        </main>
        <footer class="container">
            <hr>
            <p>
                <small>Rate limited to 5 requests a day | Built by Te Kaanu Hapuku | <a href = "mailto:hello@videorecipegen.com">Contact us</a></small>
            </p>
            <!-- Cloudflare Web Analytics -->
            <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f35be2fd7f4045c6987f69c54f33a445"}'></script>
            <!-- End Cloudflare Web Analytics -->
        </footer>
    </body>
</html>