{% extends "base.html" %}
{% block header %}
<h1>AI video to recipe converter</h1>
<h2>Convert a YouTube video to a recipe</h2>
{% endblock %}
{% block content %}
<form hx-post="/recipe" hx-indicator="#recipe_loading" hx-target="#recipe_loading" hx-swap="outerHTML">
    <div class="grid">
        <div>
            <input name="video" type="url" placeholder="https://www.youtube.com/watch?v=kJhv2QUE2LA">
        </div> 
        <button>Submit</button>
    </div>
</form>
<article id="recipe_loading" class="htmx-indicator" aria-busy="true">Please wait...</article>

{% endblock %}