{% extends "base.html" %}
{% block header %}
<h1>AI video to recipe converter</h1>
<h2>Convert a YouTube video to a recipe</h2>
{% endblock %}
{% block content %}
<form id="recipe_form" hx-post="/recipe" hx-indicator="#recipe_loading" hx-target="#recipe_loaded" hx-swap="outerHTML">
    <div id="form-div" class="form-div">
        <div hx-target="#form-div" hx-swap="innerHTML">
            <label for="video">
                <input name="video" hx-post="/recipe/url" placeholder="https://www.youtube.com/watch?v=kJhv2QUE2LA">
            </label>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
</form>
<span id="recipe_loading" class="htmx-indicator" aria-busy="true">Please wait...</span>
<div id="recipe_loaded"></div>

{% endblock %}